@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

:root {
    --font1: 'Passion One', cursive; /*fonte títulos*/
    --font2: 'Sriracha', cursive; /*fonte poema*/
    --font3: 'Ubuntu', sans-serif; /*fonte padrão*/
    --cor1: #A05B1F;
    --cor2: #E1B79C;
    --cor3: #e9e5daee;
    --cor4: #151E2B;
    --cor5: #163C51;
    --cor6: #e8a57c;
    --cor7: #f2eee4ee;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1) 20%, var(--cor2) );
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

header > h1 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 2.3em;
}

main {
    min-width: 280px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

h2 {
    font-family: var(--font1);
    background-image: linear-gradient(to right, var(--cor6), var(--cor2), var(--cor3));
    color: white;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-left: 8px;
    font-size: 1.8em;
    font-weight: normal;
}

main p {
    text-indent: 50px;
    margin: 20px;
    text-align: justify;
    line-height: 2.2em;
    padding-right: 10px;
}

p#inline {
    display: inline-block;
    width: 450px;
}

img#cara {
    margin-bottom: 49px;
    margin-left: 50px;
}